.APP_color_sky {
  color: #75B1A9;
  fill: #75B1A9;
}

.APP_bg_sky {
  background-color: #75B1A9;
}

.APP_color_sunglow {
  color: #D9B44A;
  fill: #D9B44A;
}

.APP_bg_sunglow {
  background-color: #D9B44A;
}

.APP_color_mountains {
  color: #4F6457;
  fill: #4F6457;
}

.APP_bg_mountains {
  background-color: #4F6457;
}

.APP_color_mist {
  color: #ACD0C0;
  fill: #ACD0C0;
}

.APP_bg_mist {
  background-color: #ACD0C0;
}

